[2014-07-28 14:36] brice-morin opened #1 "Provide samples"
Provide samples for ThingML, Kevoree, etc that can be deployed in the workspace using Eclipse samples mechanisms.

[2014-07-29 10:52] brice-morin opened #2 "Integrate documentation/methodology"
[HEADS Methodology](https://heads-project.github.io/methodology) should also be available from within Eclipse.

One option is to directly use the web-browser embedded into Eclipse.

[2014-09-01 14:44] brice-morin opened #3 "Check and Update Kevoree version"
It seems it is using kevoree 3.6.8 instead of latest stable version (using kevoree watchdog)

[2014-09-02 07:50] #3 closed, assigned to barais

[2014-09-03 12:48] brice-morin opened #4 "New ThingML model"
When creating a new thingml model, we have to create a new "EMFText .thingml file". It would be nicer if we could create a new "ThingML model" instead or something less confusing than "EMFText .thingml file"

[2014-09-30 07:26] brice-morin opened #5 "Improve ThingML to Kevoree generator"
- [ ] leverage Kevoree callbacks when we can identify (possibly with an annotation) a request/response pattern on a port
- [X] enable coarser grain Kevoree components (wrapping a set of ThingML things)
- [x] enable Kevoree to visualize and manage the overall architecture, not just one ThingML configuration

[2014-09-30 07:28] brice-morin opened #6 "Better traceability between Kevoree and ThingML implementation"
It should be possible to easily go from a Kevoree component and visualize its ThingML implementation (not just the code generated by ThingML)

[2014-09-30 07:28] brice-morin opened #7 "Test Kevoree/ThingML on Android"
- refresh the Kevoree/Android platform so that:
  - [ ] it leverages the latest version of Kevoree (5.x)
  - [ ] it works with latest version of Android IDE, platform, etc
- [ ] manually modify Java code generated from ThingML so that it can run in Android
- [ ] update Java generator to be able to generate proper Android code

[2014-09-30 07:30] brice-morin opened #8 "Switch to Kevoree 5"
Kevoree 5 provides a better support for multi-platforms, we should switch to this version once stable. This includes:
- [x] updating the Kevoree editors and runtime and also
- [x] the ThingML to Kevoree generator.

[2014-09-30 07:40] brice-morin opened #9 "Javascript as target platform"
See Issue SINTEF-9012/ThingML#64

- [x] Proof-of-concept compiler working in browser
- [x] Proof-of-concept working in Node.js
- Standard library for JS
   - [x] Timer
   - [x] Test framework
   - [x] Serial
   - [ ] MQTT
   - [ ] HTTP
- [x] Plug compiler (Node.js) to test framework
- [x] Reach 90++% of tests passing
- Mock up in HTML/JS
  - [x] Websocket brigde between Node.js generated code and

[2014-11-24 14:17] #8 closed, assigned to brice-morin

[2014-12-02 15:35] brice-morin opened #10 "Internal Evaluation of the HEADS IDE: Tutorial 1"
At least one person per partner should complete the tutorials:

1. HEADS ThingML modelling language basics:

  - [X] SINTEF MOD
  - [X] SINTEF INST
  - [x] INRIA
  - [x] Tellu
  - [x] Software AG
  - [x] ATC

[2014-12-04 09:47] ffleurey opened #11 "JS generated code terminates by itself"
When Running the Hello World example of the ThingML tutorial, the program generated for the different platforms stops in the Bye state but does not terminate. The JS generator terminates automatically.

[2014-12-09 10:29] maxleiko opened #12 "[training/ThingML] Wrong link for HEADS IDE ?"
Is it me or the link in the README that is supposed to help you download the latest version of the HEADS IDE is just sending you to the Issues page ?

[code]

I cannot see how is it helpful.
Maybe it should simply point to [HEADS IDE download](http://coreff5.istic.univ-rennes1.fr/jenkins/job/headside/ws/products/target/products/) and [issues tracking](https://github.com/HEADS-project/heads_ide/iss

[2014-12-09 11:06] maxleiko opened #13 "Syntax highlighting in KevScript"
Syntax highlighting for comments is not implemented, resulting in some weird highlights.
Same for multiline dictionary attribute value.

![syntax highlighting problem](http://i60.tinypic.com/eiwk2f.png)

[2014-12-09 11:49] #12 closed, assigned to maxleiko

[2014-12-09 12:56] kehusa opened #14 "Auto completion does not work in Action Block of State"
Trying to press ctrl+space after "tim" does not bring up any alternatives. Works elsewhere in the code, e.g. after event keyword.

state Init {
            on entry do
                tim(ctrl+space here)
            end

[code]

[2014-12-09 13:01] #4 closed, assigned to brice-morin

[2014-12-09 13:02] #1 closed, assigned to brice-morin

[2014-12-09 13:42] brice-morin opened #15 "Internal Evaluation of the HEADS IDE: Tutorial 2"
At least one person per partner should complete the tutorial:

2. Kevoree basics:

  - [x] SINTEF MOD. Contribution: Exercise 5 on Edison + Exercise 6: Wrap mraa lib in Node.js and run on Edison
  - [x] SINTEF INST
  - [X] INRIA
  - [x] Tellu
  - [x] Software AG
  - [x] ATC

[2014-12-09 14:16] maxleiko opened #16 "[kevoree] Generated pom.xml in project is messy"
[code]

Every XTend-related things are useless.
Indentation is messy.

[2014-12-09 14:28] sdalgard opened #17 "Installation of ThingML editor location is not specified"
loaded the HEADS-IDE environment, but it doesnt include the ThingML editor.
This is separately downloaded from thingml.org/dist .... but I dont know where to place it.

When starting eclipse I get many errors
eclipse.buildId=unknown
java.version=1.8.0_25
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_US
Command-line arguments:  -os win32 -ws win32 -arch

[2014-12-10 09:31] #17 closed, assigned to brice-morin

[2014-12-10 09:32] brice-morin opened #18 "Lack of documentation on Eclipse basics"
We need to provide more information (or at least pointers to proper guides/tutorials) on how to get started with Eclipse.

[2014-12-10 10:00] #18 closed, assigned to brice-morin

[2014-12-11 08:11] sdalgard opened #19 "Scheduling of events is different in JS than in Java/C generated code"
The PrintIncrementForward made during my training works for Linux C and Plain JAVA.
For JS the code runs the first timer tick, but the timer does not reload

[2014-12-11 08:17] sdalgard opened #20 "Print of Integer leads to core dump"
Using the internal "print" in ThingML map anything directly to the target print function
Generated code made is similar to:
    int  myVar;
    fprintf(stdout, myVar);
This should lead to a compilation error not to core dump

[2014-12-11 08:24] sdalgard opened #21 "Operation on message param leads to C compilation error"
This operation will generate faulty C code

    transition -> Init
    event m : from_ender?pif_token
    action do
        to_starter!pif_token(m.token-1)
    end

If not allowed, this should lead to HEADS-IDE error message

[2014-12-11 08:27] sdalgard opened #22 "JS codegeneration is overwritten"
For C and Java the generated code for different ThingML programs are given different names and directories.
For JS the same name and directory is used for different programs

[2014-12-11 08:30] sdalgard opened #23 "A more flexible print function is wanted"
The ThingML print function can only print a string
More flexibility is wanted, at least printing numbers

[2014-12-11 10:53] mboussaa opened #24 "Problems building generated Maven projects within HEADS IDE on Mac OS"
When I try to compile to Java code, Eclipse does still spinning and then crashes so I have to restart it, but I can find the generated java code in my workspace. However, it works fine for other compilers. I am using Heads IDE Eclipse, Mac OS and the HelloWorld example.

[2014-12-11 11:13] maxleiko opened #25 "[ThingML] Refactor generated Javascript targeting Node.js"
Generated javascript for the Node.js platform should be refactored so that it produces a proper npm module.

The generated `state.js` library in `lib/state.js` is available in the `npm` registry.
The generated state.js wrapper at the beginning of `behavior.js` should be externalized as an npm module.

**For instance:**
  - You should create your own `thingml-state` module that depends on `state.js

[2014-12-11 11:47] vladimirc opened #26 "HEADS IDE Size"
The size of HEADS IDE is 824MB. Product contains Scala, WST, Python, JST, Google Apps, etc. This has to be reviewed and minimized. Remove not needed features and plugins. Not all of the platforms should be added by default, instead a feature for each supported platform should be created with dependencies from Eclipse Platform or any other plugins, so that it will be added to IDE once platform feat

[2014-12-11 11:51] vladimirc opened #27 ""new HEADS Project" menu in HEADS IDE"
There is no option (wizard) to create HEADS Project. The project should contain model (ThingML) and deployment configuration (Kevoree). Currently two seperate wizards exists for ThingML and Kevoree.

[2014-12-11 11:55] #19 closed, assigned to brice-morin

[2014-12-11 11:58] vladimirc opened #28 "Change ThingML Wizard Name"
The name of the wizard for ThingML is ThingML Project and it is created under EMFText Project. This is misleading. The name should change and possible added under HEADS Menu Item.
By using this wizard the ThingML project is created with sample files. If this was meant to be used for tutorial only than the name of the wizard should include something like ThingML Examples.

[2014-12-11 12:17] vladimirc opened #29 "HEADS IDE hangs after attempt to compile HelloWorld to Java"
Attempt to compile HelloWorld to Java brings IDE to not responding state.

Version: org.heads_ide.product-1.0.0-SNAPSHOT-macosx.cocoa.x86_64
OS: Mac OS X Version 10.9.5

[2014-12-11 12:22] #29 closed, assigned to brice-morin

[2014-12-11 12:42] vladimirc opened #30 "Reopening ThingML project does not show generated source"
Once project is re-opened thingml-gen folder is not shown. Refreshing project does not help.
The folder appears with all available platforms after one of the sources is compiled again.

[2014-12-11 12:47] vladimirc opened #31 "HelloWorld example for ThingML contains TODO description for deprecated Menu Item"
TODO comment points to
ThingML -> Compile X
instead of
HEADS/ThingML -> X

[2014-12-11 17:15] #31 closed, assigned to brice-morin

[2014-12-11 17:40] #22 closed, assigned to brice-morin

[2014-12-11 17:51] mboussaa opened #32 "Handling Float data type"
Does ThingML handle the Float data type? because in datatypes.thingml all primitive types are defined except the Float type.

[2014-12-11 18:36] #32 closed, assigned to brice-morin

[2014-12-15 10:32] kehusa opened #33 "Different semantics in Java, JavaScript and C"
The exact same implementation in 3 platforms except from print statements generate 3 different outputs.

The config is:

[code]

Outputs
C:

[code]

JavaScript:

[code]

Java:

[code]

My analyse of the situations is as follows:
Java: Message is only passed on to the first connector. Should be passed to all connectors

Javascript and C
Scheduler works different. Client 1 is allowed to finish behav

[2014-12-15 11:46] aliverud opened #34 "Tutorial 1 startup not understandable"
This text is not understandable if you are unfamiliar to thingml and Eclipse:
"To check if the ThingML editor is properly installed, open a sample ".thingml" file. It should open with the ThingML editor (text editor with syntax highlighting). To check if the compilers are properly installed, right-click on a ".thingml" file. You should have a "HEADS / ThingML" sub-menu in the context menu. This su

[2014-12-15 11:59] brice-morin opened #35 "Cannot kev:run HelloWorld Java from the HEADS IDE"
`mvn clean install` works well. When I try `mvn kev:run` from the HEADS IDE (or from the CLI outside Eclipse), it fails to deploy the hello world:

It seems there is a ClassNotFoundException, probably linked to an inconsistency in the typeDefinition of the kevs model. But it is not clear to me what is the problem...

[code]

[2014-12-15 11:59] aliverud opened #36 "Tutorial 1 - incorrect build"
In the tutorial it states:
"The code will be generated in an src-gen folder within the same eclipse project as the ThingML source file. One sub-folder is created for each different target platform and an additional sub-folder is created for each configuration"

The folder is not src-gen but thingml-gen.

Also where to start build should be better specified, must be where the POM file is.

My build

[2014-12-15 12:55] junaidSoftwareAG opened #37 "Tutorial 3 [_c]:Incorrect import file name"
In the tutorial 3 for platform C file  "CPrinter.thingML"  contain the incorrect import file name
[import "../CustomPrint.thingml"] which cause the compilation errors .

Please correct the import file name  which is [import "../CustomPrinter.thingml"].

[2014-12-15 13:02] #37 closed, assigned to brice-morin

[2014-12-15 14:02] #35 closed, assigned to maxleiko

[2014-12-16 07:24] barais opened #38 "ThingML Launcher regression"
In the last Heads IDE.

java.lang.ClassNotFoundException: org.sintef.thingml.resource.thingml.ui.launch.ThingmlLaunchShortcut cannot be found by org.sintef.thingml.resource.thingml.ui_0.6.0.201412120908

Do you refactor something ?

[2014-12-16 11:35] maxleiko opened #39 "Run As > Quick Run as Kevoree Script doesn't work for Kevoree JS"
Quick Run as Kevoree Script should invoke `grunt kevoree --no-reinstall` but it seems like it does not

[2014-12-16 12:44] #39 closed, assigned to barais

[2014-12-16 14:00] kehusa opened #40 "Tellu #5 Tutorial does not compile on C/C++"
Both Java and NodeJS compile, but make fails to compile the C code.

[2014-12-16 14:05] kehusa opened #41 "thingml-gen directory should be cleared before generating new code"
When things are renamed etc. old generated stuff will be left back and cause problems

[2014-12-16 14:10] sdalgard opened #42 "ThingML split of platform independent and platform specific"
The project architecture in the ThingML training tutorial  put the "top level configuration" into the platform specific files.
This results in duplication of platform independent configuration for all the platforms.

We should have a project architecture where platform specific files are like libraries (make and dont touch). The configuration section should be split into at least two sections.
The

[2014-12-16 15:04] #33 closed, assigned to brice-morin

[2014-12-16 15:25] #26 closed, assigned to barais

[2014-12-16 17:26] #13 closed, assigned to barais

[2014-12-16 21:00] #16 closed, assigned to barais

[2014-12-17 07:56] #40 closed, assigned to brice-morin

[2014-12-17 07:59] brice-morin opened #43 "C Compiler generates erroneous code when thing and configuration have the same name"
Though it might not be recommended to have a configuration and a thing having the same name, this is valid and should be supported by all compiler. The C compiler currently does not support that feature and generates a long list of error on `make`

[code]

[2014-12-17 08:14] brice-morin opened #44 "HEADS Modelling language should allow reuse of synchronous behavior"
Currently, we can define "interfaces" for the asynchronous behavior by defining messages and ports in a thing fragment and including this fragment in a concrete thing.

We should also be able to do similar things for synchronous behavior (typically functions). This would for example allow users to define their own printer/formatter/etc (as requested after Tutorial 1) without:
- relying on the asyn

[2014-12-17 09:16] brice-morin opened #45 "Create repository of libraries for the HEADS Modelling language"
Create a lightweight Maven- or NPM-like repository for HEADS artifacts so that models can be more easily constructed by importing other models from the standard HEADS libraries (timers, serial, etc).

I guess we can put those libraries in a separate GitHub repository and enable the import mechanism in ThingML to import from GitHub (or any HTTP address), a bit similarly to what golang proposes.

[2014-12-17 13:01] vladimirc opened #46 "Option to specified Java package for generated code"
It should be possible to specify java package for the generated code for Java language.

[2014-12-17 13:08] vladimirc opened #47 "Generated code does not use indentation"
The generated code should follow the Java Programming Style Guide. For example the proper use of indentation, tabs and spacing.

[2014-12-17 13:11] vladimirc opened #48 "Tutorial #1 Should include how to import generated Java project"
The tutorial should be updated to include instruction to include import new Maven project after code is generated.

[2014-12-17 13:15] vladimirc opened #49 "Execution of JavaScript code can't be stopped by CTRL+C"
c and Java execution can be stopped by using CTRL+C. This is not a case with JavaScript code. However, CTRL+D stops the execution for JavaScript.

[2014-12-17 13:18] vladimirc opened #50 "Different output for JavaScript HelloWorld"
When executing examples from Tutorials the JavaScript outputs contain extra new line for each output, hence producing different output comparing to C or Java code execution.

[2014-12-17 13:21] #49 closed, assigned to nobody

[2014-12-17 13:22] vladimirc opened #51 "StackOverflow message when circular imports are used"
Using circular imports in two ThingML files causes StackOverflow exception in Eclipse Workbench.

[2015-01-05 19:23] brice-morin commented on #50
ThingML print is aligned on Java print. The behavior of the Java println can be achieved by appending \n. At least it works in the generated Java and C code. In node.js however, the default (and only?) behavior or console.log is basically a println, and we cannot just "print a la Java". So this issue seems unsolvable in general (though it might be possible to hack something (e.g removing \n at the

[2015-01-05 19:26] brice-morin commented on #20
Related to issue #23

[2015-01-06 09:38] brice-morin opened #52 "Stopping JS node (from Web Editor) does not seem to stop contained components"
After successfully updating the dictionary (exercice 3), I wanted to stop and start my component, so that I see the updated attribute in the logs (this is done in the start method). But I was not able to properly stop and start my component (though the updated model is received by the runtime)

[code]

[2015-01-06 09:53] maxleiko commented on #52
Did you stopped the component in the editor ?

[2015-01-06 09:56] maxleiko commented on #52
0. Click on the component you want to start/stop
1. Change the attribute **Instance state** to the state you want
2. Save your changes
3. Click on the node
4. Push the model

[2015-01-06 10:07] brice-morin commented on #52
No, actually I stopped the whole node (but it should, I guess, also stop the contained components...).

[2015-01-06 12:16] brice-morin commented on #52
OK, it works if I do the start/stop at the component level. But I still think it should work also at the node level (which should stop/start all the components it contains)

[2015-01-06 12:27] brice-morin opened #53 "Stop on components is not called on SIGINT"
It seems (at least on Windows) that the stop on each individual components is not called on SIGINT. Unlike the outputs showed in Exercice 1 of the Java tutorial, I do not get the *Bye, world!* that is supposed to be displayed by the stop method. This can be problematic in more complex examples, where some resources (ports, files, etc) might not be properly closed...

[2015-01-07 08:43] brice-morin opened #54 "yo kevoree does not work on Intel Edison"
It seems `yo kevoree` is not working on Intel Edison. Maybe the problem comes more from Yeoman than Kevoree:

[code]

After creating a file `/home/root/.config` to help a little bit, I got:

[code]

[2015-01-14 14:13] brice-morin commented on #5
- Kevoree generator has been updated (simply to use the latest release, for now)

[2015-01-16 13:30] brice-morin commented on #54
It seems we have to play with chown/chmod a bit on the Edison to get the JS toolchain to work properly. I do not think it is a problem related to the Kevoree generator, and will close that issue

[2015-01-16 13:30] #54 closed

[2015-01-21 14:01] brice-morin opened #55 "How to deploy two local components in Kevoree JS"
Hi,

It is not very clear how I can deploy a kevscript that instantiate two of my components I have defined locally (i.e. which are not pushed on any global registry). I would typically like to test that my components work together before I push them to the Kevoree registry.

[2015-01-21 15:54] brice-morin commented on #53
Seems that it works using PowerShell, but not with GitBash...... strange!

[2015-01-21 16:51] #55 closed

[2015-01-22 11:23] brice-morin commented on #9
See [tutorial 3.2](https://github.com/HEADS-project/training/tree/master/3.Wrapping_ThingML_into_Kevoree/3.2_Manually_Wrapping_JS_Code)

[2015-01-22 22:41] brice-morin commented on #55
Thanks for the very convenient feature :-)

[2015-01-26 09:45] #10 closed

[2015-01-28 12:37] brice-morin commented on #52
@maxleiko: is that fixed?

[2015-01-28 12:37] brice-morin commented on #53
@maxleiko: is that fixed?

[2015-01-28 12:39] brice-morin commented on #47
HEADS IDE (one of the basic Eclipse feature) supports automatic reformatting. I recommend to use that as post-processing after the code has been generated.

[2015-01-28 12:39] #47 closed

[2015-01-28 12:42] brice-morin commented on #23
Also related to Issue #44

Custom prints and other utility functions not directly supported in the language should be defined by users as function, which could be reused across things (defining such behavior as asynchronous with ports and messages rapidly becomes messy and implies an overhead (queue, etc))

[2015-01-28 13:03] maxleiko commented on #52
Yes https://github.com/kevoree/kevoree-js/commit/70b22c35b8be938a29d086152053739d7cedac08

[2015-01-28 13:03] #52 closed

[2015-01-28 13:05] maxleiko commented on #53
Yes https://github.com/kevoree/kevoree-js/commit/70b22c35b8be938a29d086152053739d7cedac08

(and using a proper shell on Windows)

[2015-01-28 13:05] #53 closed

[2015-01-28 21:56] brice-morin opened #56 "Wrap JS code into Node-RED"
It should be fairly simple to wrap the generated JS code into [Node-RED](http://nodered.org) nodes.

[2015-02-03 08:27] brice-morin commented on #25
I think the new structure is OK and way modular than it use to be. Thanks for the hints @maxleiko

[2015-02-03 08:27] #25 closed

[2015-02-03 17:46] brice-morin opened #58 "Improve continuous integration of plugins"
ThingML plugins should be automatically built on the server, including the jar in /lib so that we do not need to do it manually.

[2015-02-03 19:12] brice-morin commented on #58
We need this script:
[code]

It seems it did not really work as a post-build step, since it was executed before the Maven artefact were deployed, and it downloaded "old" jars, etc. It seems it should be a separate job.

[2015-02-11 12:20] brice-morin opened #59 "Non connected ports should be public by default"
In a thingml configuration, the port that are not connected by a connector should be public by default, and exposed through the public API.

[2015-02-11 12:23] brice-morin commented on #59
Current workaround: add `@public "true"` on the ports that should be exposed:

[code]

[2015-02-11 12:57] brice-morin commented on #59
ports should now be public by default unless you specify `@public "false"`

[2015-02-11 13:41] #59 closed

[2015-02-18 08:54] brice-morin opened #60 "Upgrade JS compiler to target state.js v5.0.0"
It seems to bring many improvement in terms of performances, maintainability, etc

@barais  @maxleiko The question is, since they re-implemented the lib in TypeScript, should we generate TypeScript, or should we still generate plain JS?

[2015-02-18 08:56] maxleiko commented on #60
Plain Js

[2015-02-18 13:46] brice-morin commented on #51
We indeed get that stack trace when using circular imports (which I guess should be banned, anyway)

[code]

[2015-02-18 14:48] #51 closed

[2015-02-18 14:51] brice-morin commented on #51
Note that circular imports are still allowed and should be handled properly (hopefully)

[2015-02-19 08:23] #15 closed

[2015-02-19 08:25] brice-morin opened #61 "Internal Evaluation of the HEADS IDE: Tutorial 3"
- [X] SINTEF-INST
- [x] SAG
- [x] ATC
- [x] TellU

[2015-02-19 10:21] #41 closed

[2015-02-19 10:29] brice-morin commented on #44
Yes, I think both (and most) cases can be managed using the abstract/refined/implements mechanisms. Then your case adds some methodology around to make it properly.

[2015-02-19 14:09] brice-morin commented on #38
This menu was deprecated and has been removed.

[2015-02-19 14:09] #38 closed

[2015-02-19 14:32] brice-morin commented on #44
@sdalgard We can already achieve something approaching what we want to do (at least in Java). I will test C and JS later.

[code]

[2015-02-25 10:34] #46 closed

[2015-03-03 13:47] brice-morin commented on #2
I think @barais fixed that

[2015-03-03 13:47] #2 closed

[2015-03-03 14:14] barais commented on #2
yes, done

2015-03-03 14:47 GMT+01:00 Brice Morin <notifications@github.com>:

[2015-03-06 13:20] kehusa opened #62 "JS error when calling out to function in on entry statement"
The following causes an error in the generated JS:

Error:
_this.initialize();
^
ReferenceError: _this is not defined
    at SensorJS._init (C:\Users\KnutEilif\Heads_13.02\workspace\Training\thingml
-gen\javascript\FieldNode\SensorJS.js:149:1)
    at Object.<anonymous> (C:\Users\KnutEilif\Heads_13.02\workspace\Training\thi
ngml-gen\javascript\FieldNode\main.js:18:18)
    at Module._compile (module

[2015-03-06 14:00] brice-morin commented on #62
OK, I probably fixed the problem. But I have to test in more depth to be sure I did not break anything else... I remember some stuff around "this" in JS were not quite natural for me, coming from Java...

[2015-03-09 08:58] brice-morin commented on #62
I guess it should work now. Reopen if not.

[2015-03-09 08:58] #62 closed

[2015-03-12 07:40] #61 closed

[2015-04-09 09:38] kehusa opened #63 "OnConnect / OnDisconnect"
After trying the new OnConnect statement in kevs I have a couple of questions/observations:
1. It seems like the model is not updated when a node detaches from the master. It is still present.
2. When one node i detached, the master complains about a channel that is not present:
11:32:22  WARN   WSMsgBroker      "broker" broker warning: Unable to send messag
e. Client "/nodes[jsClient]/components[

[2015-04-09 09:42] maxleiko commented on #63
@kehusa it wasn't the purpose of the feature to remove the node from the model on disconnection
The `onConnect` will only be processed and send to nodes when they connect to the master node (or reconnect)

[2015-04-09 09:45] kehusa commented on #63
OK, I realize that, but isn't that a natural consequence to also update the model when a node is detached?

[2015-04-09 09:49] maxleiko commented on #63
Not necessarily, but we could imagine something like a `onDisconnect`, where you would add something like:

[code]

Which will reflect that "dynamic" behavior

[2015-04-09 09:55] kehusa commented on #63
Sounds good. I think this would make the "dynamic" feature of kevscript more complete.

[2015-04-09 11:32] kehusa opened #64 "Uploading of components to kevoree registry"
Hi,

Do you have a short tutorial/description on howto upload components to the kevoree registry? I guess this is needed when I am going to start with empty nodes :-)

[2015-04-09 11:59] maxleiko commented on #64
You mean upload from a Kevoree (Java/Js) project, or using just a .json ?

[2015-04-09 11:59] maxleiko commented on #64
What do you mean by empty nodes ?

[2015-04-09 12:06] kehusa commented on #64
Normally when I have started kevoree nodes I have transferred the source to the target device and compiled the source there. Then the component has been installed on the target. I was now thinking that I should start the kevoree node without any components installed on the target device in advance. Then I take it I have to download the components from the kevoree registry.

[2015-04-09 12:12] kehusa commented on #64
I was using the wrong word, not kevoree registry but kevoree repository. Sorry.

[2015-04-09 12:34] maxleiko commented on #64
Oh ok, in java when you deploy your code to a maven repo there is a Kevoree plugin that is triggered and does the registry publishing for you.

[2015-04-09 12:40] maxleiko commented on #64
There is two things:
  - you want your .jar to be available for anybody
  - you want your TypeDefinition to be accessible for anybody in a KevScript

So, for the first one, you have to deploy your .jar on a Maven repository.
For the second one, your kevoree model must be pushed on the Kevoree registry.

In a Kevoree Java project, if you take look to the available plugins, you will see that there i

[2015-04-09 12:41] kehusa commented on #64
Superb, what about javascript?

[2015-04-09 12:42] maxleiko commented on #64
Same thing, but there is no Maven repo, its the npm registry for Node.js modules :)

[2015-04-09 12:43] maxleiko commented on #64
When you do an `npm publish` if you look at your `package.json` there is a script that is triggered on `postpublish` that calls the Grunt task `grunt publish`. This is the task that publish your `kevlib.json` model to the Kevoree registry

[2015-04-09 12:44] maxleiko commented on #64
Same idea, but with the JS technos :)

[2015-04-09 12:45] kehusa commented on #64
Great, and I do no need any login for these repositories?

[2015-04-09 12:45] maxleiko commented on #64
You will need auth for both.

[2015-04-09 12:48] kehusa commented on #64
Ok, I already have login for npm. You have instructed me previously, but not for java.
How do I get login there?

[2015-04-09 12:48] maxleiko commented on #64
For the `npm` registry you need to create an account on their website [here](https://www.npmjs.com/)

For Maven, it's a bit different, you cannot easily gain access to the Maven central repo, well you can, but it won't be today.
We (the Kevoree team), use https://oss.sonatype.org/ which is replicated on Maven central, so it's great.
But in your case, you could run an [Archiva](http://archiva.apach

[2015-04-09 12:50] kehusa commented on #64
Ok, I think I also will use https://oss.sonatype.org/. Thx

[2015-04-09 12:51] maxleiko commented on #64
You have to do open-source code, and the process is a bit tedious, but in the end it's way better because you can have access to your Maven dependencies without specifying your repo in your pom.xml because it goes on the central.

[2015-04-09 12:53] maxleiko commented on #64
http://central.sonatype.org/pages/ossrh-guide.html

[2015-04-09 16:26] kehusa commented on #64
trying to publish my HomeGW component, but keep getting this error:
(I am able to run npm login)

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'publish',
1 verbose cli   '--verbose' ]
2 info using npm@1.4.28
3 info using node@v0.10.33
4 verbose node symli

[2015-04-09 16:28] maxleiko commented on #64
It is not allowed to use upper case for module name

[2015-04-09 16:56] kehusa commented on #64
That fixed it :-) But do I need to reference the module name in kevscript file?

[2015-04-09 17:59] maxleiko commented on #64
No module name, just the TypeDefinition

[2015-04-09 17:59] #64 closed

[2015-04-10 13:41] maxleiko commented on #63
@kehusa working example with onDisconnect [here](https://github.com/maxleiko/kevoree-wsgroup-onconnect)

Just pull the repo :)

[2015-04-30 12:44] kehusa commented on #63
When powering off the dynamically attached node (not just stopping the process), the master does not recognize that. I think one cannot rely on the websocket "events" but perhaps has to put something to actively check the links.

[2015-04-30 12:52] maxleiko commented on #63
Okay, think I know [why](https://github.com/kevoree/kevoree-js-group-ws/blob/master/lib/ClientHandler.js#L68) this is happening. The `error` event is not running **onDisconnect** KevScript, and I think that it should in this use-case.
I'm going to investigate that next week :)

[2015-04-30 12:53] maxleiko commented on #63
But the `close` event does ;) That's why you have the right behaviour on 'kill' (I guess)

[2015-05-06 09:57] maxleiko commented on #63
Ok so, after further investigations, I found that there is no other solution than a ping/pong feature. I'll release a fix with this feature today  :)

[2015-05-18 08:31] kehusa commented on #63
Is this fix done/included in 5.2.9?

2015-05-06 11:57 GMT+02:00 Maxime Tricoire <notifications@github.com>:

--
| Knut Eilif Husa | CTO | Tellu AS | Hagaløkkveien 13, 1383 Asker - NORWAY|
Direct: +47 452 49496 | www.tellu.no |

This message contains confidential information and is intended only for the
individual named. If you are not the named addressee you should not
disseminate, distribute or c

[2015-05-18 08:35] maxleiko commented on #63
Yes

[2015-07-21 14:53] #63 closed

[2015-07-29 07:14] kehusa opened #65 "Not able to run Js - Kevoree code generation after last upgrade of code generator"
After upgrading to the last version of the code generator, I was not able to run the JS - Kevoree compiler from the ThingML(deprecated) menu anymore. Nothing happens (no kevscript, gruntfile is added).

[2015-07-29 07:17] kehusa commented on #65
Ooops...., Seems lik a refresh made it work.

[2015-07-29 07:17] #65 closed

[2015-07-29 08:30] kehusa opened #66 "New port names?"
I have problems to bind the ports generated in ThingML after the code generator upgrade.
Before a port configured like this in ThingML:
required port sensor_service
	@public "true"
	{
		sends start_periodic_reading, reading_cancel, read
		receives reading, ready
	}
was translated to one out port and one in port in kevoree like this:

in_HomeGW_server_sensor_service_in: function (msg) {
...
},
out_

[2015-07-29 09:03] brice-morin commented on #66
Yes, see my last comment on HEADS-project/forum#14

Basically, since we wanted by default to get rid of any serialization in the messages (so that you are free to wrap things as you want), we just pass the value of the message (e.g. a temperature value), without any more indication (i.e. we do not not that the message is a temperature message, the only way to know it is that it arrives on a Kevore

[2015-07-29 09:33] maxleiko commented on #50
[code]

See https://nodejs.org/api/process.html#process_process_stdout

[2015-07-29 09:33] #50 closed

[2015-08-18 15:22] kehusa opened #67 "Dictionary values used from ThingML code"
Hi,

In my ThingML component I need to define and get access to a dictionary value from the kevScript. Can this be accomplished?

[2015-08-18 18:20] brice-morin commented on #67
Not sure I understood exactly (an example would help), but it should be fairly easy to expose the ThingML properties as Kevoree dictionary attributes, and make sure the update method in Kevoree actually updates the ThingML attributes. I suggest that you, as the platform expert, try to modify the ThingML to KevoreeJS compiler. I'll of course provide assistance. This way we can have feedback on the

[2015-08-18 18:23] brice-morin commented on #67
Not that in Java, we had that feature at some point. Maybe it has disappeared after some refactoring. But we do not have it in JS, indeed

[2015-09-03 07:54] brice-morin commented on #60
Done! (in plain JS)

[2015-09-03 07:54] #60 closed

[2015-09-03 07:58] brice-morin commented on #11
Discussed on another topic. It is a feature of Node.JS to exit when nothing more can happen. It made no sense to keep the program alive.

[2015-09-03 07:58] #11 closed

[2015-09-03 07:58] brice-morin commented on #9
We can consider this as done!

[2015-09-03 07:58] #9 closed

[2015-09-05 21:34] kehusa opened #68 "Retry connection with master server"
When trying to establish initial contact with master the node fails if connection is lost as can be seen from the log below.  Shouldn't the node automatically try to reestablish contact with master after some time?

root@ubilinux:/home/heads/demo# sudo ./start.sh
root@ubilinux:/home/heads/demo# nohup: ignoring input and redirecting stderr to stdout
tail -F log.out
00:00:40 ALL KevoreeLogger Set lo

[2015-09-07 07:34] maxleiko commented on #68
There is a mechanism of reconnection already [(here)](https://github.com/kevoree/kevoree-js-group-ws/blob/master/lib/ClientHandler.js#L55)
Can you tell me more about your use-case so I can try to reproduce something ?

[2015-09-07 08:47] maxleiko commented on #68
@kehusa I've made some tests with the master server in a docker container on another network and the reconnection mechanism works apparently.

[2015-09-07 10:09] kehusa commented on #68
Maybe we can have a look at it in Rennes. It happens quote often during
initialization.

man. 7. sep. 2015, 10.47 skrev Maxime Tricoire <notifications@github.com>:

[2015-09-07 14:14] kehusa opened #69 "Not receiving any messages in ThingML from BLE callbacks"
When trying to run the following code I get the following trace:
*stateChange
*sent state poweredOn

As you see, this way is to get callbacks from ble  into the thing.
As you see, I send the stateChange in the ble.on('stateChange') callback function, but I do not receive it in the transition. Any idea why, something to do with threading perhaps?

Code:
[code]

[2015-09-07 14:23] brice-morin commented on #69
I guess you are working on Edison and tested BLE separately before? See http://rexstjohn.com/configure-intel-edison-for-bluetooth-le-smart-development/

If BLE works separately and not wrapped in ThingML, then I have to investigate in more details, as I cannot seen any obvious mistake in your code...

[2015-09-07 14:52] brice-morin commented on #69
I'll try to setup a similar environment on Linux and make some tests. Meanwhile, in the generate code:

[code]

Can you see if it helps to remove the setImmediate (and direclty call `sendStateChangeOnBLEInternal` with the proper params).

Talking about "proper params", what is the type of `state`? Is is compatible with what you have defined in your `stateChange` message? Or do you need a `JSON.str

[2015-09-07 15:02] brice-morin commented on #69
Well, well, well, a classical yet tricky mistake (which we should support better in HEADS IDE) :-)

You have no connector defined. Even if the instance sending and receiving is the same, you should define a connector to connect this "internal" port

[2015-09-07 15:04] brice-morin commented on #69
(you need to split BLEInternal port in 2, one provided and one required port)

[2015-09-07 15:10] brice-morin commented on #69
Something like this:

[code]

Produces:

[code]

I guess it closes the issue. Re-open is you have some problem

[2015-09-07 15:10] #69 closed

[2015-09-07 15:23] kehusa commented on #69
Thanks for fast support. Filed the case when leaving work, fixed when
arriving at home :-)

man. 7. sep. 2015, 17.10 skrev Brice Morin <notifications@github.com>:

[2015-09-09 15:36] brice-morin opened #70 "Internal Port"
We need internal ports in ThingML that enable a thing to easily communicate asynchronously with itself (e.g. from a function to a transition in a state machine). It is a common bug that a port we imagine as internal is not connected in the configuration. Having a proper concept of internal port that is pre-connected by default would save some bugs.

[2015-10-02 13:59] kehusa opened #71 "CEP join with length window not able to pass arrays into function"
Hi,
Trying this gives me an error:
[code]

It works without the `[]` like this `filterComp(#0, #1)`,  but then I don't get the previous values, only the last one. Pls help.

[2015-10-02 18:52] brice-morin commented on #71
OK, try something like:
[code]

But I have added the `e : ` and replaced `#0[]` by `e.x[]`, etc. `x`, `y` and `z` should be parameters of the `res2` message (or `tmp` in your case).

[2015-10-02 20:18] brice-morin commented on #71
I meant avg, min, max should be params of res2. Also note the window is defined on the result of the join

[2015-10-03 04:44] kehusa commented on #71
OK, now I got the CEP query to compile, but I got into a loop.
Here is what I try to obtain:
I am making a discrete filter with a feedback loop. That means the filter is on the form: y = ay-1 + by-2 + cx-1 + dx-2 where y is the output and x is the input. The -1.. denotes the sample nr. 0 is now, while -1 is the previous and so on.
I am sending in new x every 2. second. To initialize the CEP query

[2015-10-03 05:17] kehusa commented on #71
Testing a bit more, I now understand what is happening :-)
In the query:
stream compansation @TTL "7000" do
    from e : [e1: decoder?decoded & e2 : outputRecv?output -> tmp(e1.msg, e2.value)]::lengthWindow(3,1)
    select compensated : filterComp(e.msg[], e.value[])
    action output!tmp2(compensated)
end

both e1 and e2 have a TTL on 7000 ms. If I could specify different TTLs for e1 and e2 I wou

[2015-10-03 08:05] brice-morin commented on #71
Ok, we were not sure to find a use case requiring different TTLs, and hence put it globally on the stream. But we can arrange for finer grain TTLs. I'll be quite busy next week with other stuff, but I'll try.
________________________________________
De : kehusa [notifications@github.com]
Envoy� : samedi 3 octobre 2015 07:17
� : HEADS-project/heads_ide
Cc : Brice Morin
Objet : Re: [heads_ide] CEP j

[2015-10-03 09:14] kehusa commented on #71
That sounds fine. I think this is an important feature actually if you need
control of which event that causes the CEP query to fire. ( assuming that I
understand the semantics)

lør. 3. okt. 2015, 10:05 skrev Brice Morin <notifications@github.com>:

[2015-10-03 18:44] brice-morin commented on #71
OK, should be fixed in JS (needs to be tested in more details, though). For Java, it seems that kind of streams is a bit too tricky, as the generated code contains error. I could fairly easily correct it manually, so it should be possible to fix the generator (hopefully). But I cannot commit to a fix for next week, probably the one after.

[2015-10-03 19:21] kehusa commented on #71
Hmm. got this when trying to update:

An error occurred while collecting items to be installed
session context was:(profile=DefaultProfile,
phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=,
action=).
No repository found containing:
osgi.bundle,org.sintef.thingml.model,0.6.0.201509291532
No repository found containing:
osgi.bundle,org.sintef.thingml.resource.thingml,0.6.0.20150

[2015-10-03 19:31] brice-morin commented on #71
Yes... I also suspected something wrong with update of the HEADS IDE the last few days... @barais any idea? Maybe it is just related to the ThingML update site... But if I build a new HEADS IDE it contains all the new plugins... So, I can launch a build of the HEADS IDE and you can download a new bundle, at least while the update problem is not fixed.

[2015-10-03 19:34] kehusa commented on #71
I am not going to do anything on it tonight so if the update site fix is
pretty soon I can wait for the update site to be online again.

2015-10-03 21:31 GMT+02:00 Brice Morin <notifications@github.com>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

This message contains confidential information and is intended only for the
individu

[2015-10-09 08:21] kehusa commented on #71
After installing the latest update to HEADS IDE, the editor produces a stackoverflow exception when opening the files. I have checked in the latest version of the Tellu system under the contribution folder on excercise 3, so you can check.

[2015-10-09 08:47] brice-morin commented on #71
Which file exactly is causing this problem?

[2015-10-09 08:50] kehusa commented on #71
Several, but I experienced it when opening javascript/FieldNode.thingml

[2015-10-09 09:07] brice-morin commented on #71
Cannot reproduce the bug in the standalone editor... I wanted to redownload a HEADS IDE, but the download fails only after a few KB... @barais is the server allright?

[2015-10-09 09:09] kehusa commented on #71
I was able to download today, just before the mail. That was the version
that failed.

Knut Eilif

2015-10-09 11:07 GMT+02:00 Brice Morin <notifications@github.com>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

This message contains confidential information and is intended only for the
individual named. If you are not the named add

[2015-10-09 10:53] brice-morin commented on #71
Did you download from: http://headside.gforge.inria.fr/
or: http://coreff5.istic.univ-rennes1.fr/jenkins/job/headside/ws/products.minimal/target/products/

The first first one can be downloaded but it now outdated. The second one is up-to-date but cannot be downloaded (at least on my PC and Franck's PC...)

@barais ...

[2015-10-09 10:59] kehusa commented on #71
I was using the update function in Heads IDE which has this link:
http://dist.thingml.org/update

Knut Eilif

2015-10-09 12:53 GMT+02:00 Brice Morin <notifications@github.com>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

This message contains confidential information and is intended only for the
individual named. If you are not th

[2015-10-12 20:06] brice-morin commented on #71
AFAIK, this issue is closed and should work in JS and Java, though more testing is probably needed. For the update site issue, I would recommend opening another issue if it is still broken.

[2015-10-12 20:06] #71 closed

[2015-10-13 06:22] kehusa opened #72 "HEADS eclipse plugin broken"
When opening e.g. /Training/3.Wrapping_ThingML_into_Kevoree/3.3_Contrib/Tellu/Field-node/_javascript/FieldNode.thingml on github, the eclipse HEADS plugin causes a stack overflow:
java.lang.StackOverflowError
	at org.eclipse.emf.ecore.impl.BasicEObjectImpl.eSet(BasicEObjectImpl.java:1081)
	at org.sintef.thingml.impl.ThingMLElementImpl.eSet(ThingMLElementImpl.java:130)
	at org.sintef.thingml.impl.A

[2015-10-13 07:08] skorsky commented on #72
I got the same with tutorial 3.1 (3.Wrapping_ThingML_into_Kevoree\3.1_ThingML_Components_3_Kevoree_Deployments\_java/timer.thingml) yesterday.
I'm using   ThingML	version 0.6.0.201510091147	org.thingml.eclipse.feature.feature.group.

[2015-10-13 07:22] brice-morin commented on #72
Can you test with version 0.6.0.201510122007?

`git clone https://github.com/SINTEF-9012/ThingML.git` and open the project `org.thingml.eclipse.ui` into your current HEADS IDE and run this project as an Eclipse application, it will open another Eclipse, with the plugins updated. So that you can at least test if update is still failing.

[2015-10-13 07:26] kehusa commented on #72
I have pulled from master and tried to run the plugin, but still the same
result.

Knut Eilif

2015-10-13 9:22 GMT+02:00 Brice Morin <notifications@github.com>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

This message contains confidential information and is intended only for the
individual named. If you are not the named addresse

[2015-10-13 07:35] brice-morin commented on #72
Well, I cannot reproduce the problem.........

[2015-10-13 07:43] skorsky commented on #72
I've updated the thingml feature to the version you suggested. The stack overflow remains active.
Java System Library is 1.8.0_60.

The error message starts with:
Compiling with "Plain Java" (Platform: java)
Selected input file: L/3.1_ThingML_Components_3_Kevoree_Deployments/_java/timer.thingml (C:\Users\mask\git\skorsky\training\3.Wrapping_ThingML_into_Kevoree\3.1_ThingML_Components_3_Kevoree_Dep

[2015-10-13 07:43] kehusa commented on #72
I guess then that we need to download a clean bundle to check. However, the
download link:
http://coreff5.istic.univ-rennes1.fr/jenkins/job/headside/ws/products.minimal/target/products/
does not work.

2015-10-13 9:35 GMT+02:00 Brice Morin <notifications@github.com>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

This message contain

[2015-10-13 07:47] brice-morin commented on #72
@barais is the jenkins OK?

[2015-10-13 09:28] skorsky commented on #72
Olivier told me on Friday to use http://headside.gforge.inria.fr/ to download the HEADS IDE.

[2015-10-13 09:51] brice-morin commented on #72
@skorsky yes, but these links are updated manually (Olivier just did it this morning), so it is now always up to date

[2015-10-13 10:07] brice-morin commented on #72
OK, now I could reproduce the error :-) I'll work on it and tell you when it is fixed. Maybe not today, most likely before the week end

[2015-10-13 10:11] brice-morin commented on #72
Well... the latest HEADS IDE still does not use the latest ThingML plugins. It uses a version from 2015-10-03 instead of 2015-10-12...

[2015-10-13 10:21] brice-morin opened #73 "HEADS IDE uses old ThingML plugins"
It seems the latest HEADS IDE still uses old ThingML plugins. Installing the ThingML update site manually and installing (updating) ThingML did install the latest version of ThingML. It is thus a problem with the build of the HEADS IDE...

[2015-10-13 19:27] brice-morin commented on #72
The stack overflow seems solved now, but it is some strange parsing error, at least within Eclipse (seems to work in the ThingML standalone editor). However, when opening `_javascript/FieldNode.thingml` it produces the following warnings:

[code]

We typically get some warnings, but so much warnings might indicate a problem with the parser....

[2015-10-14 06:12] kehusa commented on #72
This is what it looks like in my editor:
[image: Innebygd bilde 1]
Strange, why only this file?

2015-10-13 21:27 GMT+02:00 Brice Morin <notifications@github.com>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

This message contains confidential information and is intended only for the
individual named. If you are not the named addre

[2015-10-14 07:13] brice-morin commented on #72
Cannot see the image... but I guess the four imports are red.

[2015-10-14 07:52] brice-morin commented on #72
Also note that most files in the _javascript folder do not appear in the outline view, meaning they cannot really be parsed, meaning they cannot really be imported... Other files in the root (PIM) folder seem OK however

[2015-10-14 08:32] kehusa commented on #72
Hmm, I hadn't seen the outline.

However, trying to generate code gives this error:

ERROR: The selected model contains errors:
file:/C:/Users/KnutEilif/Heads_13.02/workspace/Training/3.Wrapping_ThingML_into_Kevoree/3.3_Contrib/Tellu/Field-node/_javascript/FieldNode.thingml
: The given URI contains a model with a wrong type
file:/C:/Users/KnutEilif/Heads_13.02/workspace/Training/3.Wrapping_ThingML

[2015-10-14 08:34] brice-morin commented on #72
The compiler is likely to generate erroneous JS code if it cannot properly find things in the model. I am currently redoing your models in _javascript folder from scratch, copy/pasting block by block to see when the parser starts to fail.

[2015-10-14 08:36] kehusa commented on #72
OK, strange stuff.

2015-10-14 10:34 GMT+02:00 Brice Morin <notifications@github.com>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

This message contains confidential information and is intended only for the
individual named. If you are not the named addressee you should not
disseminate, distribute or copy this e-mail. Please notif

[2015-10-14 09:31] skorsky opened #74 "NullPointerException at org.sintef.thingml.resource.thingml.mopp.ThingmlANTLRParserBase"
While checking issue #72, I got

Compiling with "Plain Java" (Platform: java)
Selected input file: L/3.1_ThingML_Components_3_Kevoree_Deployments/_java/timer.thingml (C:\Users\mask\git\skorsky\training\3.Wrapping_ThingML_into_Kevoree\3.1_ThingML_Components_3_Kevoree_Deployments\_java\timer.thingml)
ERROR: Exeption calling ThingML Compiler: nullPlease contact the ThingML development teamjava.lang.N

[2015-10-14 10:55] brice-morin commented on #74
Yes, it is very related to #72

[2015-10-14 13:16] brice-morin commented on #72
To be precise, it is the parser integrated within Eclipse that goes wrong. The parser integrated in the standalone editor works, and compiler should work there as well.

[2015-10-14 13:19] kehusa commented on #72
Do you think it is a possible to downgrade to the last working version
while we search the bug? I am quite familiar with the HEADS IDE now and
would very much like to continue working in that environment.

Knut Eilif

2015-10-14 15:16 GMT+02:00 Brice Morin <notifications@github.com>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

Thi

[2015-10-14 13:46] brice-morin commented on #72
OK, I revert to the version of September 29th. This one should work as I did a live demo at MODELS, and many participants successfully used it on different types of machines, though the thingml files were quite simple.

You should now be able to update your HEADS IDE as usual and get the old version of the ThingML plugin

[2015-10-14 13:52] brice-morin commented on #72
Well... might need to reverse some more. Do you remember when you updated and when it did not work anymore?

[2015-10-14 14:03] kehusa commented on #72
I think I updated last Saturday 10/10. My last generated files are from
8/10.

Knut Eilif

ons. 14. okt. 2015, 15:52 skrev Brice Morin <notifications@github.com>:

[2015-10-14 16:09] kehusa commented on #72
This version is still not working for me at least. It must have been an
earlier version.

2015-10-14 16:03 GMT+02:00 Knut Eilif Husa <knut.eilif.husa@tellu.no>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

This message contains confidential information and is intended only for the
individual named. If you are not the named addresse

[2015-10-15 08:11] barais commented on #73
I guess it is a problem with your update site. Is not it.

I will investigate

[2015-10-15 08:13] barais commented on #58
Only for ThingML ?

do you want that I build ThingML on coreff ?

[2015-10-15 08:49] brice-morin commented on #58
Well, for now, we have a script (.bat, but I guess a .sh would be fairly similar) that builds the "big jar" locally and move it into the lib folder of the plugin. Then we commit everything and plugin should be up to date. The idea would be to run the script on the jenkins. In principle it is very easy, in practice, it probably needs some tweaking.

[2015-10-22 10:37] #74 closed

[2015-10-22 10:37] #72 closed

[2015-10-26 10:21] brice-morin commented on #67
I'm working on it. Should be ready sometimes today

[2015-10-26 11:32] #67 closed

[2015-10-26 11:35] brice-morin commented on #67
OK, the feature should be implemented, but currently not released yet in the plugins.

[2015-10-26 11:35] brice-morin commented on #66
@kehusa should we close that issue? or?

[2015-10-26 11:38] brice-morin commented on #43
@Lyadis is that still an issue?

[2015-10-26 11:40] brice-morin commented on #24
I close this issue as it seems to be a problem with Maven + Eclipse + MacOS, far beyond HEADS responsibilities. Again, generated code can be managed in any IDE or CLI.

[2015-10-26 11:40] #24 closed

[2015-10-26 11:41] brice-morin commented on #21
@Lyadis is that still an issue? If yes, is that fixable?

[2015-10-26 11:47] kehusa commented on #66
That is OK, I am able to achieve what I want.

Knut Eilif

2015-10-26 12:35 GMT+01:00 Brice Morin <notifications@github.com>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

This message contains confidential information and is intended only for the
individual named. If you are not the named addressee you should not
disseminate, distr

[2015-10-26 11:48] #66 closed

[2015-10-26 12:08] Lyadis commented on #43
Yes it is. But i'm on it.

[2015-10-26 12:17] Lyadis commented on #21
No I think it is fixed.

[2015-10-26 12:17] #21 closed

[2015-10-26 12:36] Lyadis commented on #43
Ok, it should work now

[2015-10-26 12:36] #43 closed

[2015-10-27 13:59] brice-morin opened #75 "Programatically updating Kevoree attributes is not allowed"
My problem. I have a ThingML component wrapped into a Kevoree component, and want to synchronize attributes between the two. When a Kevoree attribute is updated, I want to update the corresponding ThingML attribute (this works using `this.dictionary.on`). However, when the ThingML component updates an attribute, I would like to reflect that into the Kevoree component. It seems that using `this.dic

[2015-10-27 15:08] maxleiko commented on #75
You are trying to modify the model while it's deploying. This is not permitted. On a deployment phase the model is ReadOnly.
If you want to do that, you will have to do it after the deployment.

[2015-10-27 16:19] brice-morin commented on #75
Ok... I will try to put that code some other places... Note that (if I remember well, I have to double check) it was crashing the whole thing. I would have expected a warning rather than error...

[2015-10-27 16:52] brice-morin commented on #75
Now I get a `Fatal error: Object [object Object] has no method 'createDictionaryValue'

`

[2015-10-27 17:06] maxleiko commented on #75
You can register a listener on the event `deployed` on the core.

[code]

What are you trying to do when you say "update the value in Kevoree" ?
Because, what you *should* do, is modify the model, and then ask for an adaptation. You **should** never try to modify the dictionary values manually. It must be done by the adaptation engine.
In order to update the model in `kevoree-js`, you can call the

[2015-10-27 17:21] brice-morin commented on #75
Right... is there some documentation somewhere on:

- how to get the current model (from the component itself, *i.e* JS code)
- update the model, in particular updating the value of an entry in the dictionary

Actually, it seems I need to re-implement the setValue method.... but probably working on a copy of the current model, or something like this...

[2015-10-27 17:50] maxleiko commented on #75
What you want to achieve is just modifying a value of an attribute in an in-memory model, and then send this model to the core so that it deploys it (if I understood correctly):

[code]

[2015-10-27 17:54] maxleiko commented on #75
Something like this should be right. Because you might not know the exact path.

[code]

[2015-10-28 10:14] brice-morin commented on #75
Hmmmm...

In your last code snippet, it seems `instance.dictionary` is `null`...

[2015-10-28 10:35] maxleiko commented on #75
Can you share your project so I can have a look at it ?

[2015-10-28 11:43] brice-morin commented on #75
Sent you by e-mail

[2015-11-03 14:02] kehusa opened #76 "Analog input pins on Arduino"
Analog pin A0 is not accepted as input pin in ThingML:
property SoundPin : UInt8 = A0 gives error
Reading e.g. http://www.instructables.com/id/How-to-add-6-extra-pins-to-your-Arduino-with-no-ex/
states that pin A0 equals pin 14, but this trying with exchanging A0 with pin 14 gives no success.

Please advice how to use analog pin A0 in Arduino.

[2015-11-03 14:19] Lyadis commented on #76
You should try
[code]
A0 is not defined in ThingML but it is in the arduino library in c. So you want it to be interpreted by the c compiler and not the thingml compiler.

[2015-11-03 14:20] kehusa commented on #76
thanks, that was obvious when you just mentioned it.

2015-11-03 15:19 GMT+01:00 Nicolas Harrand <notifications@github.com>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

This message contains confidential information and is intended only for the
individual named. If you are not the named addressee you should not
disseminate, distri

[2015-11-03 14:26] Lyadis commented on #76
No problem

[2015-11-03 14:26] #76 closed

[2015-11-03 14:27] Lyadis commented on #70
It should be supported in the C compiler now. Can we close the issue?

[2015-11-03 16:20] brice-morin commented on #76
@kehusa, please assign @Lyadis for future Arduino/C issues :-)

[2015-11-03 16:21] #70 closed

[2015-11-09 10:20] kehusa opened #77 "NodeJS code generator generating non runnable code"
When compiling Tellu Fieldnode project some debug code that is not runnable is generated:
E.g
`
the following ThingML code
[code]
give the following javascript code

[code]

which gives following error

[code]

[2015-11-09 10:23] brice-morin commented on #77
I think this is already fixed, but not yet released in the plugins.

[2015-11-09 10:25] brice-morin commented on #77
See SINTEF-9012/ThingML#98

[2015-11-09 10:28] kehusa commented on #77
That is fine :-)

When are you planning to release the plugin with the fix? Currently I have to manually remove the statements from the generated code.

[2015-11-09 11:20] brice-morin commented on #77
Well, I can release it any time, basically. And we have a set of new features, like internal ports. But we should make sure we release them at a not too critical period (to avoid problems if it is some unpredictable and hard to test regressions e.g. in the plugins like last time). Or you can make sure you have a backup HEADS IDE that works.

[2015-11-09 11:46] kehusa commented on #77
That is probably a good idea. I make a copy of my entire working
environment before I upgrade. For me, you can then just go ahead :-)

2015-11-09 12:20 GMT+01:00 Brice Morin <notifications@github.com>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

This message contains confidential information and is intended only for the
individual

[2015-11-09 11:56] brice-morin commented on #77
OK, update site for ThingML should be up-to-date in 10 minutes or so. You can use it to update (another) HEADS IDE. I did not rebuild the whole HEADS IDE yet.

[2015-11-09 20:24] #77 closed

[2015-11-09 20:25] kehusa opened #78 "Error when running MQTTComponent"
sent state poweredOn
Start scanning receivedSensor ReadingThingML attribute FieldNode_sensor_SensorJS_value__var updated...
updating Kevoree attribute...

/home/heads/demo/node_modules/field-node/node_modules/kevoree-entities/lib/KevoreeEntity.js:153
this.getKevoreeCore().submitScript(script, callback);
^
TypeError: Object KevoreeCore has no method 'submitScript'
at PseudoClass.Class.submitScript

[2015-11-09 21:06] brice-morin commented on #78
Hmmmm, it could be related to one of the new feature we introduced in the ThingML->KevoreeJS compiler related to the update of attributes (so that Kevoree dictonary attributes are in sync, on both ways, with ThingML attributes)... I guess I and @maxleiko have to investigate a bit...

[2015-11-09 21:13] brice-morin commented on #78
Well, I re-tested again (on a simple example though) and that new feature (indeed using submitScript) works....

[2015-11-09 21:17] brice-morin commented on #78
And I just tried the FieldNode (on my PC, not on Edison) and the new feature works... I would suggest re-generate the whole JS from scratch to see if it helps (and remove all the node_modules and deploy units.

[2015-11-09 21:20] brice-morin commented on #75
OK, using submitScript(myKevScript) proved to be a good solution. Thanks for the help!

[2015-11-09 21:20] #75 closed

[2015-11-10 08:19] brice-morin commented on #20
@Lyadis I have implemented some helper to determine the actual type of primitive types (those helpers can be refined as needed), so that it should be possible in most cases, to map the ThingML print to different C print facilities. We should just make sure, or assume, that people will not use things like `print "myVar" + myVar + "\n"`but will use three print statements instead (for which we should

[2015-11-10 09:00] maxleiko commented on #78
Agree. Remove both `.deploy_units` and `node_modules` and re-install / re-start. Should be good.

[2015-11-10 12:04] kehusa commented on #78
OK, did so but now I get this:
[code]

[2015-11-12 11:49] kehusa opened #79 "Kevoree error"
11:44:58 INFO WSGroup "sync" connected to master server ws://10.10.0.1:9000
This suddenly happened today when I was about to start up:
(Was ok yesterday)

[code]

[2015-11-12 12:04] kehusa commented on #79
deleting node_modules and trying again fixed it

[2015-11-12 12:36] #79 closed

[2015-11-12 13:41] kehusa opened #80 "Kevoree dictionary attribute not generated"
Trying to generate a dictionary attribute from ThingML file Properties.thingml file that is included in other things, fails. The rationale to do it this way was to have some system globally defined properties that could be included where needed.

The code is:
[code]

[2015-11-12 14:31] brice-morin commented on #80
OK, I will investigate

[2015-11-12 14:39] kehusa commented on #80
The strange thing is that the attributes seems to be generated from one thing but not from another.
Might be a clue

[2015-11-12 14:40] brice-morin commented on #80
OK, that was easy, just add

`@java_primitive "true"` to the `String` datatype in `datatypes.thingml`

We only allow primitive types to be expose + String should also be allowed. Even though String in Java is not exactly primitive we can somehow handle it as a primitive type

[2015-11-12 14:40] #80 closed

[2015-11-12 14:42] brice-morin commented on #78
@maxleiko @kehusa what is the status here?

[2015-11-12 14:53] kehusa opened #81 "Globally properties"
It would be convenient to be able to define global variables where all things use the same "instance" of it.

[2015-11-12 15:02] maxleiko commented on #78
@brice-morin I forgot a call to `done()` in the **WSGroup** `start(done)` method. So the adaptation timed-out.
=> Fixed in 5.2.11-SNAPSHOT and above

[2015-11-12 15:10] brice-morin commented on #81
OK, we will NOT make some sort of static properties. The only way to thing can exchange information is via asynchronous message passing via ports, not via shared variable. But, in the specific case of the Kevoree compiler, we will try to make something to "merge" all attributes into one e.g. with a @kevoree "global" annotation. Basically the Kevoree attribute will be unique, but the ThingML attrib

[2015-11-12 15:22] brice-morin commented on #81
Actually, I think we have 3 possible mappings:

- @kevoree "instance": this is the current mapping, where we expose all the instances of a ThingML attribute as a separate Kevoree attribute
- @kevoree "merge": where we expose a single Kevoree attribute, which we then sync with all the ThingML instances
- @kevoree "only": where the attribute is just a Kevoree attribute, that the ThingML instances do

[2015-11-12 20:40] #81 closed

[2015-11-26 12:33] kehusa opened #82 "Persistency in kevoree"
When updating models and attributes, I experience that these are persistently stored when switching off and on the device of the sync master. Is this correct? If I want to remove the model, how do I delete it from the sync master?

[2015-11-26 12:44] maxleiko commented on #82
The WSGroup always merges models from new clients. So if you cut the master, and still keep one client up and running, then when you re-start the master node you should get a merge with the old model of that client and the current one of the group.
This behavior might give what you call persistence.
Is this what's happening ? Clients are still running while master restarts ?

[2015-11-26 13:50] kehusa commented on #82
Ok, I guess that this is actually what happens. Thanks.

[2015-11-26 13:50] #82 closed

[2015-11-30 14:51] kehusa opened #83 "Allowing for dynamic instantiation and removal of a Thing"
In order to deal with dynamic environments where things pop up and disappear, it would be a very useful feature to allow dynamic instantiation of a Thing. We would the be able to model the state of the dynamic thing using "conventional" thingml semantics. This is a much wanted feature from the Tellu use-case.

[2015-12-01 14:53] brice-morin commented on #83
Ok we need to think about that in depth, but what about having a new type of action (which you could use in a state machine, in a function, etc) like this:

[code]

Basically being able to declare and invoke a `Configuration` from within an action, keep some reference to those dynamic configurations and have another action to destroy/remove a given dynamic configuration.

One additional concept we

[2015-12-09 10:23] brice-morin opened #84 "ThingML / Kevoree port mapping"
Currently, in ThingML/KevoreeJS, ThingML ports are systematically split (to avoid serializaing metadata for routing and allow connection to external services). In the case where two Kevoree ports are actually connected to HEADS component, we should not split ports and serialize those metadata.

Mapping policy:
- non connected standard port will not be split
- port connected with an external connec

[2015-12-09 10:26] brice-morin opened #85 "ThingML / KevoreeJava - KevoreeJS"
Port mapping and serialization between KevoreeJava and KevoreeJS component generated from ThingML should be aligned so that we can easily connect ThingML/KevoreeJava and ThingML/KevoreeJS component

[2015-12-09 10:43] brice-morin commented on #84
@kehusa would that be ok?

[2015-12-09 15:27] brice-morin commented on #84
@kehusa can you test? As I mentionned in my commit message, I did not test in depth. I can try to test a bit more tomorrow...

[2015-12-09 15:35] kehusa commented on #84
I will do.

ons. 9. des. 2015, 16:27 skrev Brice Morin <notifications@github.com>:

[2015-12-10 07:53] brice-morin commented on #84
Obviously, it still needs some work. I'll notify you when you can test.

[2015-12-10 08:41] #84 closed

[2015-12-10 08:42] brice-morin commented on #84
By default, port are not split
To split a port (and expose raw data without serialization overhead):
[code]

[2015-12-10 08:44] brice-morin commented on #78
@maxleiko has it been released properly?

[2015-12-10 09:34] maxleiko commented on #78
Yes. We are in 5.3.1 now

[2015-12-10 09:34] #78 closed

[2015-12-15 12:35] brice-morin commented on #85
Also, attributes should be mapped as in JS with @kevoree "merge"/"instance"

[2015-12-21 14:16] brice-morin commented on #83
OK, I implemented the following concepts and syntax:

[code]

Basically, as mentioned before, it is pretty much the same syntax than normal/static configuration. We need to call a function (here `getID`, but can be anything, with any params (typically sensor name, etc)) that is supposed to generate a unique name for the dynamic configuration. `create` will create and start the configuration.

I pr

[2015-12-21 16:01] brice-morin commented on #83
OK, after some discussion with @ffleurey  we might have found another approach, which is lighter (could easily be implemented only with some annotations at first, and minor modifications in the language afterwards), but gives less freedom. It should however be enough for most cases, hopefully. You can find an example [here](https://github.com/SINTEF-9012/ThingML/blob/1c9902ecca428ff7854470ac393b95

[2016-01-15 15:21] kehusa opened #86 "Error when generating code"
After updating to last version of the ThingML code generator, I got this exception when trying to generate the code to day:
Compiling with "Javascript for NodeJS" (Platform: nodejs)
Selected input file: L/Training/3.Wrapping_ThingML_into_Kevoree/3.3_Contrib/Tellu/Home-gw/_javascript/ServerJS.thingml (C:\Users\KnutEilif\Heads_13.02\workspace\Training\3.Wrapping_ThingML_into_Kevoree\3.3_Contrib\Tell

[2016-01-15 15:48] Lyadis commented on #86
Do you use the `group` keyword in your ThingML configuration somewhere?

[2016-01-15 15:51] kehusa commented on #86
No,

This is the current config:
[code]

[2016-01-15 16:07] kehusa commented on #86
To test, just try to run the nodejs/kevoree generator on Training\3.Wrapping_ThingML_into_Kevoree\3.3_Contrib\Tellu\Home-gw\_javascript\ServerJS.thingml

[2016-01-15 16:35] Lyadis commented on #86
I'm not sure I can fix this easily without @brice-morin , but may I suggest you to roolback your version of ThingML temporarly (If you didn't do any customization on it.) with
[code]
I'm suspecting [this commit](https://github.com/SINTEF-9012/ThingML/commit/711aa7e9af7d9df901cc347874fa8f21152bd91b) to be the cause of your problems, so I suggest you rollback to [this one](https://github.com/SINTEF-

[2016-01-15 16:43] brice-morin commented on #86
It is related to the suppression of group (hence isFragment does not exists anymore). Either I forgot to regenerate plugins or it is still one call to that method somewhere.Anyway, it is easy to fix (simply remove any call to isFragment and any code that depends on it)

[2016-01-15 16:51] Lyadis commented on #86
Ok, I've found the line. Does it fixe your problem @kehusa ?

[2016-01-15 16:54] brice-morin commented on #86
note that you need to wait some 10-15 minutes before new version is available on the update site

[2016-01-15 16:56] brice-morin commented on #86
Note also that some small but useful missing features have been introduced like `>=`, `<=`, `++` and `--`, which can simplify (a bit) some logic.

[2016-01-15 16:58] kehusa commented on #86
Thanks a lot. Have to regenerate all components after the Kevoree registry
restart today.

Regards Knut Eilif

fre. 15. jan. 2016, 17:56 skrev Brice Morin <notifications@github.com>:

[2016-01-15 17:01] barais commented on #86
I can add them to the continueous integration to avoid such issue
Le 15 janv. 2016 5:58 PM, "kehusa" <notifications@github.com> a écrit :

[2016-01-15 17:42] kehusa commented on #86
Checked out and is now working. Thanks.

Knut Eilif

fre. 15. jan. 2016, 17:58 skrev Knut Eilif Husa <knut.eilif.husa@tellu.no>:

[2016-01-15 17:44] #86 closed

[2016-01-22 16:09] kehusa opened #87 "Error in code generator"
In the following code snippet from message receiving:
[code]

server should have been: .HomeGW_server.

I.e the type is forgotten in the property.

[2016-01-22 16:27] Lyadis commented on #87
Could you give the thingml file corresponding?

[2016-01-22 16:31] kehusa commented on #87
Sensorjs.thingml in homegw project.

fre. 22. jan. 2016, 17:27 skrev Nicolas Harrand <notifications@github.com>:

[2016-01-22 16:39] Lyadis commented on #87
Would this help?

[2016-01-22 16:45] kehusa commented on #87
Should have been ServerJs.thingml but I guess you figured it out.

I will try the fix.

Knut Eilif

2016-01-22 17:39 GMT+01:00 Nicolas Harrand <notifications@github.com>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

This message contains confidential information and is intended only for the
individual named. If you are not the name

[2016-01-22 17:28] kehusa commented on #87
Hmm, still the same generated code:
server in the line with
[code]
should have been:
[code]
[code]

[2016-01-22 17:44] Lyadis commented on #87
Oh, but HomeGW is the name of your configuration isn't it? (Not the type of your instance?)

[2016-01-22 17:50] brice-morin commented on #87
I think I see the problem. Will fix it.

[2016-01-22 18:09] kehusa commented on #87
Sorry about mentioning the type. It was the configuration name that was
missing

2016-01-22 18:50 GMT+01:00 Brice Morin <notifications@github.com>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

This message contains confidential information and is intended only for the
individual named. If you are not the named addressee you should

[2016-01-23 18:11] brice-morin commented on #87
It seems @Lyadis fixed the bug. I regenerated the Eclipse plugins and also added some comments in the generated code to make future (hopefully none) debugging easier and also explain the mapping of ports between ThingML and Kevoree.

I suspect a bug in ThingML, which is really not helping writing this KevoreeJS compiler right. It seems than sometimes `myInstance.getName()` just returns the instanc

[2016-01-23 18:11] #87 closed

[2016-01-27 20:11] kehusa opened #88 "Kevoree MQTT onTopicAndMsg serialisation"
When receiving messages from MQTTSubClient on port onTopicAndMsg I get the following content: ```{"topic":"sensor/button","message":{"type":"Buffer","data":[49,48,50]}}```
The topic part is ok, but I don't understand how to deal with the message part

When receiving messages from MQTTSubClient on port onMsg I get:
```102 ```(which is what I expect)

Why is the serialisation different?

[2016-01-27 20:24] brice-morin commented on #88
Is the raw data OK in the code generated from ThingML? Is it still OK just before sending on the Kevoree port?

[2016-01-27 20:40] kehusa commented on #88
ThingML does not make any changes to the message content. It is equal on the MQTTSubClient port and inside the ThingML component.

[2016-01-28 11:05] maxleiko commented on #88
@kehusa  do you use the Java or the Javascript version of the MQTTSubClient ?

[2016-01-28 11:23] maxleiko commented on #88
MQTTSubClient v2.0.2 should fix this issue.

[2016-01-28 16:45] kehusa commented on #88
tested and works, thanks

[2016-01-28 16:45] #88 closed

[2016-01-29 08:32] kehusa opened #89 "kevlib.json for MQTTSubClient 2.0.2"
I get this when trying to upgrade to MQTTSubClient 2.0.2 on the RPI:

Error: Cannot find module '/home/pi/test/node_modules/kevoree-comp-mqttsubclient/kevlib.json'
at Function.Module._resolveFilename (module.js:336:15)
at Function.Module._load (module.js:278:25)
at Module.require (module.js:365:17)
at require (module.js:384:17)
at ..

Using grunt on my pc the component worked ok
Help is wanted

[2016-01-29 09:22] maxleiko commented on #89
You get that when doing what ?

[2016-01-29 11:52] #89 closed

[2016-01-29 11:53] maxleiko commented on #68
Can we close this?

[2016-01-29 11:58] kehusa commented on #68
Yes

fre. 29. jan. 2016, 12:53 skrev Maxime Tricoire <notifications@github.com>:

[2016-01-29 12:26] #68 closed

[2016-02-05 14:14] kehusa opened #90 "OnConnect kev script being pushed to all connecting nodes"
When connecting nodes to a master node with onConnect kevscript defined, all nodes gets the kevscript pushed out. In the situation with Safe@Home this strategy fails when other nodes than FieldNodes connect. We need some mechanism to differentiate between different types of connecting nodes.

E.g. based on connecting nodeName, something like where only nodename like FN1, FN2 etc will get the scrip

[2016-02-08 11:55] kehusa commented on #90
@maxleiko and @barais, have you any thought on this? It is urgent to get a solution if we are going to present this in the review.

[2016-02-08 12:00] kehusa opened #91 "Cycling of removal and adding nodes when using onConnect/onDisconnect statement"
After the last update of the Javascript node I have experienced that the system may get in a state where nodes are continuously connecting and disconnecting if more than one node is added to the system. One node gets connected, another is disconnected, it reconnects, the first one is then connected again and so on. It may eventually get to a stable state.
I don't think I saw this behavior previous

[2016-02-08 13:18] maxleiko commented on #90
@kehusa Yes I'm working on it since this morning. Gonna get back to you this afternoon

[2016-02-09 06:18] kehusa commented on #91
Here you see the cycling behaviour between nodes FN1 and FN3:
[code]
06:14:32 INFO WSGroup Broadcasting current model to 2 clients
06:14:34 INFO KevoreeCore Model deployed successfully: 0 adaptations (2131ms)

06:14:37 INFO WSGroup Broadcasting current model to 1 client
06:14:40 INFO KevoreeCore Model deployed successfully: 0 adaptations (2256ms)
06:14:40 INFO WSGroup New client registered "FN3"

[2016-02-09 06:38] kehusa commented on #91
One more log. The cycling behaviour started like this:

Starting from a fresh system, bringing one node up at a time everything was stable.
Removing node FN4, and the adding node FN4 again got the cycling started.

[code]

[2016-02-09 20:50] kehusa commented on #90
The new WSGroup is tested and it is working :-):
![image](https://cloud.githubusercontent.com/assets/8616423/12930193/1b424d0e-cf77-11e5-9c71-3f5dedf56c44.png)

[2016-02-09 20:50] #90 closed

[2016-02-10 06:53] kehusa commented on #91
Still problems when trying to connect:

Log from Field Node:
[code]

Log from HomeGW(master):
[code]

[2016-02-10 09:38] kehusa commented on #91
[code]

[2016-02-10 12:46] kehusa commented on #91
I think this can be closed. It was partly caused my a misconfiguration and a too short timeout

[2016-02-10 12:46] #91 closed

[2016-02-10 12:49] kehusa opened #92 "Error in websocket, causes node to shut down"
Sometimes this occurs. Can it be handled in another way than shutting down the node?

[code]

[2016-02-10 12:58] maxleiko commented on #92
Can you try to update the `ws` library to `1.0.1` at the root of your `node_modules` folder, and see if it fixes the problem?
Something like:

[code]

[2016-02-10 12:59] maxleiko commented on #92
Oh, my bad, this won't work, because I'm requesting `^0.8.0` pretty much everywhere.

[2016-02-10 13:00] maxleiko commented on #92
If this error is only happening on the server, then you can modify the `kevoree-group-ws` package.json manually, so that the `ws` dependencies points to `^1.0.1` and then install it using the shell script I've given previously.
It might do the trick (just to check if the latest `ws` version fixes the issue)

[2016-02-25 10:00] brice-morin commented on #83
OK, after several discussions here is what we will introduce the notion of session. A session is basically a dynamic region:

[code]

[2016-03-08 09:55] #85 closed

[2016-03-08 10:11] #83 closed

[2016-03-08 11:08] #73 closed

[2016-03-08 11:10] brice-morin commented on #23
With the TypeChecker, we can now print most types (that we can statically determine) using the normal print function.

[2016-03-08 11:10] #23 closed

[2016-03-08 11:12] brice-morin commented on #20
Should now work. A least something like:
[code]

[2016-03-08 11:12] #20 closed

[2016-03-08 11:12] #5 closed

[2016-03-08 11:13] #48 closed

[2016-05-30 11:54] kehusa opened #93 "Last version of eclipse plugin fails to compile Tellu contrib"
Hi,

Installed the new version of the eclipse plugin today, and then I got when trying to compile nodejs/kevoree:

[code]

[2016-05-30 16:06] brice-morin commented on #93
Ok. I suspect this is related to the ongoing refactoring towards XText. Hopefully, it is just to re-generate the plugins. Will do that tomorrow morning or this evening.

[2016-05-30 18:32] #93 closed

[2016-05-30 18:32] brice-morin commented on #93
Should be fixed. Re-open if not.

[2016-06-27 09:03] kehusa opened #94 "Unable to add filter attribute in kevscript editor"
When specifying a filter attribute in kevscript editor, this error is displayed:
Unknown attribute "filter" in /groups[sync] (set sync.filter = "^FN[1-2]$")

[2016-06-27 09:13] maxleiko commented on #94
Be sure to specify the `5.3.2-SNAPSHOT` in the KevScript as it is the only available version that supports the `filter` attribute

[2016-06-27 09:42] kehusa commented on #94
The problem is not the javascript node, it is the kevscript editor that
gives the error when I press the merge button.

2016-06-27 11:13 GMT+02:00 Maxime Tricoire <notifications@github.com>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

This message contains confidential information and is intended only for the
individual named. If

[2016-06-27 09:58] sdalgard opened #95 "Failing compile of old code - New syntax for network plugins?"
The following configuration fails to compile
indicating error at the end of the keyword "over"

import "../Timer.thingml"

configuration TestTimerRcd {
instance client0 : ActiveTimer//this is your application
set client0.period = 1000
set client0.name = "A1 1000\n"
connector client0.timer **over** Rcdtimer0

instance client1 : ActiveTimer//this is your application
set client1.period = 1500
set cli

[2016-06-27 10:13] Lyadis commented on #95
Related to https://github.com/HEADS-project/training/issues/112

[2016-06-27 12:19] maxleiko commented on #94
The KevScript editor gives this error if it cannot find the `filter` param in the TypeDefinition of the instance. But I've made a test, and it works if you use the `5.3.2-SNAPSHOT` of `WSGroup`

[2016-08-04 07:13] kehusa opened #96 "Stackoverflow when opening thingml file"
When opening: training/3.Wrapping_ThingML_into_Kevoree/3.3_Contrib/Tellu/Field-node/_javascript/SensorBMP280JS.thingml

The current stacktrace is produced:

[code]

[2016-08-04 07:28] kehusa opened #97 "Usage of internal ports"
In order to use internal ports, i.e. sending to self,  is there any annotation of the port needed, or is it just to send and receive to it?

[2016-08-04 07:54] brice-morin commented on #96
Seems like yet another problem with the parser... @ffleurey you know what to do when you come back from holidays :-)

[2016-08-04 07:58] brice-morin commented on #97
[code]

then use the port in your state machine as a normal port on which you can send message and on which you can have events waiting for a message to be received.

You should not connect internal ports in your configuration. This will be done automatically

[2016-08-04 07:58] #97 closed

[2016-08-04 07:59] brice-morin commented on #97
Note that when the new parser is there, we might simplify the syntax of internal port, to avoid duplicating the list of messages in send/receive (since you want to receive what you are able to send on an internal port), which is redundant information.

[2016-08-05 09:31] brice-morin commented on #96
Well, everything works in development mode when I run our plugins as Eclipse application... But when I update my HEADS IDE, it still does not work... Though it should be the very same code...

[2016-08-05 11:50] brice-morin commented on #96
Should now be fixed.

Note that there will be regressions in CEP for C/Arduino, as the annotations on CEP sources were crashing the whole parser.

[2016-08-05 11:50] #96 closed

[2016-08-05 13:07] kehusa commented on #96
Worked with last version :-)

2016-08-05 13:50 GMT+02:00 Brice Morin <notifications@github.com>:

--
| Knut Eilif Husa | Tellu AS | Lensmannslia 4, 1386 Asker - NORWAY| Direct:
+47 452 49496 | www.tellu.no |

This message contains confidential information and is intended only for the
individual named. If you are not the named addressee you should not
disseminate, distribute or copy this e-mail. Pl

[2016-08-16 19:48] brice-morin opened #98 "Generate Kevoree debug traces when a message is sent through a port without channel"
It would be good to generate some `Message XXX lost because port YYY is dangling` debug traces. Indeed, when components have a few provided and required ports, it can be easy not to connected the proper ones and leave the important ones dangling. Those debug traces would help. Isn't it @kehusa ? ;-)

[2016-08-16 20:03] kehusa commented on #98
I agree

Den tir. 16. aug. 2016, 21:48 skrev Brice Morin <notifications@github.com>:

[2016-08-17 07:14] maxleiko commented on #98
Yep, I've done that in Java for the next version to come, will also do that for Js

[2016-08-26 12:36] kehusa opened #99 "UML generation of Things with sessions"
I get an error when trying to generate UML diagrams from Things with sessions.
Is it possible to visualize this behavior?

[2016-08-26 12:41] brice-morin commented on #99
Not supported yet. I guess I could consider them as normal regions in the visualizations. I do not really have the time today, but will try to fix that soon.

[2016-08-29 10:39] #99 closed

[2016-08-29 10:39] brice-morin commented on #99
Should work now. I tried on the TellU models and it seems to work.

[2016-08-29 11:32] #98 closed

[2016-08-29 11:33] #94 closed

[2016-08-29 11:33] maxleiko commented on #94
The new version of the KevScript editor will display better error messages.

[2016-08-29 11:36] maxleiko commented on #92
All new kevoree js standard libraries that uses `ws` have been updated. This shouldn't happen anymore.

[2016-08-29 11:36] #92 closed

[2017-03-07 10:05] brice-morin commented on #58
This is greatly with the new parser (currently in xtext branch, to be merge in master soon)

[2017-03-07 10:05] #58 closed

[2017-03-07 10:06] brice-morin commented on #56
Not really needed by anyone as of now. Though it should still be easy to do it if needed at some point.

[2017-03-07 10:06] #56 closed

[2017-03-07 10:07] brice-morin commented on #44
New version of ThingML (to be released soon) has fist class support for abstract functions

[2017-03-07 10:07] #44 closed